
h1{
    font-family: 'Open Sans', sans-serif;
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 45px;
    font-weight:400;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #eeeeee;
    margin-left:10px;
}

#grid{
    margin-top:15px;
}

#timer{
    position:absolute;
    top:10px;
    right:10px;
    font-size: 30px;
}

.grid{
    color: #666;
    text-align: center;
    display: inline-block;
    position: relative;
    line-height: 50px;
    float: none;
    width: 320px;
    height: 50px;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 10px #aaa;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.error{
    background-color: #faa;
}

.grid:hover{
    border: 1px solid #000;
    box-shadow: 0px 4px 11px #666;
    color: #000;
    cursor: pointer;
    font-weight: 400;
}

.grid:active{
    background-color: rgba(255,255,255, 1);
    border: 1px solid #999;
    cursor: pointer;
    box-shadow: 0px 4px 9px #ccc;
}

.selected{
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    font-weight: 700;
    text-decoration: underline;
}

.selected:hover{
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}

.complete{
    color: #fff;
    font-weight: 600;
    text-shadow: 0px 0px 2px #000;
}

.complete:hover{
    color: #fff;
    cursor: default;
    font-weight: 600;
}
